.fundBalance {
  font-size: 22px;
  font-weight: 700;
  color: var(--text);
  margin-bottom: 10px;
}

.fundSectionWrapper {
  margin-top: 16px;
  margin-bottom: 16px;
}

.fundEntryIcon {
  margin-right: 4px;
  vertical-align: -1px;
}

.fundAmountSpend {
  color: var(--text);
}

.fundAmountPositive {
  color: var(--paid);
}

.fundDeleteButton {
  margin-left: 8px;
}
